{% extends 'polls/base.html' %}
{% block content %}
<br>
<br>
<div class = "card detailcard">
<h3 class="big">{{ question.question_text|capfirst }}</h3>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<form action = {% url 'polls:votes' question.id %} method = 'post'>
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type = 'radio' name = 'choice' id = 'choice{{forloop.counter}}' value = "{{choice.id}}"/>
    <label for="choice{{forloop.counter}}">{{choice.choice_text|capfirst}} </label><br/>
{% endfor %}
<br>
{% if voted %}
	<p class = "notifier"><strong>&nbsp;&nbsp; You have already voted here. <a href="/">Chose other question!</a></strong></p>
{% else %}
  <button class="btn waves-effect waves-light deep-orange darken-4" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
{% endif %}
</form>
</div>
{% endblock %}