{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block jumbotron %}
<div id="tinted-image" class="col s12 m12 l12 valign-wrapper">
<p class="valign center-align">Cast your opinion with iVote<br/><span class="center-align"id="valign2">Simple&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Easily Available&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Fast<br/></span></p><br>
</div>
{% endblock %}
{% block content %}
<div class="content">
{% if latest_question_list %}
  <ul class="collection">
  {% for question in latest_question_list %}
    <li class="collection-item avatar">
<!--       <img src="images/yuna.jpg" alt="" class="circle"> -->
      <span class="title big">{{ question.question_text |capfirst}}</span>
      <p class="small"> by : <a href="#">{{question.createdby|capfirst}}</a>
      </p>
      {% if question.pk in voted %}
       <span class="secondary-content"><i class="material-icons tooltipped" data-tooltip="already casted a vote">done</i>&nbsp;&nbsp;&nbsp;<a href = "{% url 'polls:details' question.id %}"<i class="material-icons tooltipped" data-tooltip="View?">visibility</i></a></span>
      {% else %}
        <a href="{% url 'polls:details' question.id %}" class="secondary-content tooltipped" data-tooltip="View?"><i class="material-icons">visibility</i></a>
      {% endif %}
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>
{% endblock %}