{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block jumbotron %}
{% if Profile %}
	<div class="tinted-image" class="col s12 m12 l12 valign-wrapper">
	<img src='{% static "img/me.jpg" %}' alt="" class="valign circle responsive-img"/>
	<p class="valign center-align profile-font">{{Profile.username|capfirst}}<br/>{{Profile.email}}<br/></p>
	</div>
{% endif %}
{% endblock %}
{% block content %}
<div class = "row">
<div class="col s12 m6">
<h4 class="profilehead1 center-align">Questions voted on by you</h4>
<ul class="collection">
  {% for question in voted %}
    <li class="collection-item avatar">
<!--       <img src="images/yuna.jpg" alt="" class="circle"> -->
      <span class="title big">{{ question.question_text |capfirst}}</span>
      <p class="small"> by : <a href="#">{{question.createdby|capfirst}}</a>
      </p>
       <span class="secondary-content"><i class="material-icons tooltipped" data-tooltip="already casted a vote">done</i>&nbsp;&nbsp;&nbsp;<a href = "{% url 'polls:details' question.id %}"><i class="material-icons tooltipped" data-tooltip="View?">visibility</i></a></span>
    </li>
    {% endfor %}
    </ul>
</div>	
<div class="col s12 m6">
<h4 class="profilehead1 center-align">Questions asked by you</h4>
<ul class="collection">
  {% for question in created %}
    <li class="collection-item avatar">
<!--       <img src="images/yuna.jpg" alt="" class="circle"> -->
      <span class="title big">{{ question.question_text |capfirst}}</span>
      <p class="small"> by : <a href="#">{{question.createdby|capfirst}}</a>
      </p>
       <span class="secondary-content"><a href = "{% url 'polls:details' question.id %}"><i class="material-icons tooltipped" data-tooltip="View?">visibility</i></a></span>
    </li>
    {% endfor %}
    </ul>
</div>


</div>


{% endblock %}